<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById('output').innerHTML = this.responseText;
        }
    };
    xhttp.open('POST', 'http://localhost:50594/api/timeinquiries', true);
    xhttp.setRequestHeader('Access-Control-Allow-Origin', '*')
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send('{"timeZoneStandardName": "China Standard Time"}');

}
</script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<button type='submit' onclick='UserAction()'>Get the time</button>

<p id='output'></p>
